@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #89D4E2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  padding: 0 16px;
  height: 72px;
  background: #4C8D9B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.anchor {
  cursor: pointer;
  color: #CFEDF2;
  font-family: 'Fugaz One', cursive;
  font-size: 32px;
  margin-right: 16px;
  -webkit-text-stroke: 1px #276274;
}

.login-area {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.login-icon {
  cursor: pointer;
}

.main {
  width: 100%;
  height: 0;
  padding-bottom: 25.581395349%;
  background: url(../img/casal-viajando-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container-logo {
  position: relative;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  z-index: 2;
}

.title {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  font-family: 'Fugaz One', cursive;
  color: #CFEDF2;
  -webkit-text-stroke: 1px #276274;
  font-size: 45px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFCE6A;
  opacity: 0.5;
}

.hotels-container {
  width: 90%;
  margin: 64px auto;
  display: flex;
  justify-content: space-between;
}

.hotel-image {
  cursor: pointer;
}

.hotel-title {
  margin: 20px 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.rating {
  display: flex;
  width: 100%;
  height: 24px;
  margin: 16px 0;
}

.star {
  margin-right: 10px;
}

.more-info {
  display: inline-block;
  margin: 16px 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-decoration: underline;
}